/*Estilos para el contenedor principal */
.container {
    text-align: center; /* Centra todo el contenido dentro del contenedor */
}

header h1{
    text-align: center; /* Centra el texto del encabezado */
    font-size: 36px; /* Tamaño de letra para el encabezado del header */
    color: rgb(182, 121, 184); /* Color del texto */
    font-family: Candara, Helvetica, sans-serif;
    text-decoration: underline
}
        
/* Estilos para el título */
h2 {
    text-align: center; /* Centra el texto del título */
    color: rgb(115, 123, 124); /* Color del texto */
    font: oblique bold 130% candara;
}
       
/* Estilos para el párrafo */
p {
    text-align: center; /* Centra el texto del parrafo */
    text-align: left; /* Justifica el texto dentro del párrafo */
    max-width: 950px; /* Establece un ancho máximo para el párrafo */
    margin: 0 auto; /* Centra el párrafo en la página */
    padding: 6px; /* Añade un espacio alrededor del párrafo para mayor legibilidad */
    color: rgb(134, 134, 134); /* Color del texto */
    font: oblique bold 85% candara;
}

/* Estilo para el marco de la imagen */
img {
    border: 4px solid rgb(180, 138, 171); /* Tamaño y color del borde */
}

footer {
    width: 100%;
    padding: 5px 0; /* Añade un espacio alrededor del párrafo para mayor legibilidad */
    padding: 10px; /* Añade un espacio alrededor del párrafo para mayor legibilidad */
    background-color: #ae8fb1af; /* Color de fondo del footer */
}

footer p {
    text-align: center;
    line-height: 0; /* Elimina el espacio entre cada renglón */    
    font-family: "times new roman";
    font: oblique bold 100% Copperplate;
    color:  #3f3d3dcb; /* Color del texto */
}

